.mem_head{
	text-align: left;
	border-bottom: 2px solid rgb(199,202,204);
	color: rgb(41,43,44);
	font-family: Georgia, Serif;
	/*margin-bottom: 15px;*/
}
.list-group{
	margin-top: 10px;
}

.list-group a{
	margin-top: 5px;
	margin-bottom: 5px;
}
.list-group a h3{
	font-size: 23px;
	font-family: Georgia, Serif; 
}


/*Media Query Section*/
@media (max-width: 768px) {
    .list-group a h3{
		font-size: 18px;
	}
}