body,html{
    width: 100%;
    height: 100%;
    background-image: url('background.jpg') no-repeat center center
}
/*#ContentOfBody{
    
}*/
.my-nav{
    background : #357ed3;
    color: white;
    border-radius: 0;
    border: 0;
    margin: 0;
}
.my-nav .my-menu li a {
    color: white;
}
.my-nav .my-menu li a:hover{
    background: white;
}
.my-nav .my-menu .Dropdown .dropdown-menu{
    background: #357ed3;
}
.my-nav .my-menu .Dropdown li a:hover{
    background: white;
    color:black;
}