
.mem_head{
	text-align: center;
	border-bottom: 2px solid rgb(199,202,204);
	color: rgb(41,43,44);
	font-family: Georgia, Serif;
	margin-bottom: 15px;
}

.container {
    padding: 10px 70px;
}

.mem_box{
	text-align: center;
	margin:20px auto;
	height: 275px;
	width: 100%;
	background-color: white;
	border:1px solid rgb(0,173,187);
	/*border: 1px solid rgb(85,167,154);*/
	-webkit-box-shadow: 1px 1px 1px 1px #E0E0E0;
    -moz-box-shadow: 1px 1px 1px 1px #E0E0E0;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
}

.mem_box h2{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top:15px; 
	padding-bottom:15px;
	text-align: center;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

.mem_box h3{
	margin-top: 0px;
	margin-bottom: 15px;
	padding-top: 22px;
	padding-bottom: 22px;
	text-align: center;
	background-color: rgb(0,173,187);
	/*background-color: rgb(85,167,154);*/
	color: white;
	font-family: Georgia, Serif;
	font-style: italic;
	font-size: 22px;
}

.mem_box h4{
	/*font-family: Georgia, Serif;*/
	/*font-family: ‘Courier New’, Courier, monospace;*/
	font-family: ‘Lucida Console’, Monaco, monospace;
	/*font-family: ‘Arial Narrow’, sans-serif;*/
	border-bottom: 1px solid rgb(199,202,204);
	padding-bottom: 8px;
}
.mem_box .mem_btn_div{
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
}
.mem_box .mem_btn_div button{
	color: white;
	background-color: rgb(0,173,187);
	border-radius: 22px;
	width: 42px;
	height: 42px;
}


.Pagination-section{
	text-align:center;
}
.pagination li a{
	padding-top: 8px;
	font-size: 18px;
	text-align: center;
	margin-left: 3px;
	margin-right: 3px;
	height: 40px;
	width: 40px;
	border-radius: 22px;
}

/*Media Qury Section*/

@media (max-width: 768px) {
    .container {
        padding: 10px 30px;
    }
}

